<div class= "header"><h1>Bloc Chat</h1></div>
<div class= "room-container">
  <h2>Chat Rooms</h2>
  <div class= "room-list" ng-repeat="Room in home.rooms" track by $index>
    <ul>
      <li>
        <div ng-click="home.setRoom(Room)">
          {{Room.$value}}
        </div>
      </li>
    </ul>
  </div>
</div>
<div class=new-room-button ng-controller="RoomModalCtrl as roomModalCtrl">
  <button class="button" type="button" class="btn btn-default" ng-click="roomModalCtrl.open()"> New Room </button>
</div>

  <div class="message-container" >
    <h2>Messages</h2>
    <ul>
      <div class= "message-box" ng-repeat="message in home.messages">
        {{message.username + ": " + message.content}}
      </div>
    </ul>
  </div>

  <div class="message-bar">
    <input type="text" value="New Message">
    <button class="button" type="submit" ng-click="messageCtrl.new1Message()"> Send Message </button>
  </div>

  <div class="navigation">
    <ul>
      <h4>Navigation</h4>
      <li><a href="" style="color: rgb(0,0,0)">BlocChat</a></li>
      <li><a href="www.nickmazzone.com" style="color: rgb(0,0,0)">BlocJams</a></li>
    </ul>
  </div>

  <div class="footer">
    <div class= "footname">
      <p>Nick Mazzone</p>
    </div>
    <div class= "email">
      <p>E-Mail: Nick.Mazzone@aol.com</p>
    </div>
    <div class= "social-links">
      <a href="www.linkedin.com/in/nick-mazzone-a47698156/">
        <img src="..\assets\Images\in.jpg" alt="LinkedIn">
      </a>
      <a href="www.github.com/NickMazzone">
        <img src="..\assets\Images\github.png" alt="GitHub">
      </a>
    </div>
  </div>
